@import "compass/css3";
@import "fonts";

$background_color: #fff;
$text_color: #333;
$text_color_alt: #666;
$link_color: #0e94ec;
$link_hover_color: #0e365b;

body {
  background-color: $background_color;
  color: $text_color;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.right {
  text-align: right;
}

.clear {
  clear: both;
}

h1,h2,h3 {
  font-weight: 400;
}

h1 {
  font-family: MuseoSlab1000Regular, arial, sans-serif;
  font-size: 64px;
  letter-spacing: -4px;
  line-height: 70px;
  margin: 60px 0;
}

h2 {
  font-family: MuseoSlab100Regular, arial, sans-serif;
  font-size: 32px;
  letter-spacing: -.5px;
  line-height: 38px;
  margin: 0;
}

h3 {
  font-family: MuseoSlab100Regular, arial, sans-serif;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 26px;
  margin-top: 12px;
}

.table tbody tr:hover td,.table tbody tr:hover th {
  background-color: transparent;
}

a {
  @include transition(all .2s ease-in);  
  border-bottom-color: $link_color;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  color: $link_color;
}

a:hover {
  border-bottom-color: $link_hover_color;
  color: $link_hover_color;
  text-decoration: none;
}

aside {
  color: $link_color;
  font-size: 14px;
}

aside time {
  display: block;
  font-weight: 300;
  margin: 0 0;
  text-transform: lowercase;
}

.intro {
  font-family: MuseoSlab100Regular, arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.inline-content {
  margin-top: 48px;
}

.inline-content .span6 img {
  margin-top: 6px;
}

.content {
  border-top: 1px solid rgba($text_color, .3);
  margin: 30px 0 0;
  padding: 30px 0 0;
}

#comments, #comments-form {
  border-top: 1px solid #dbdbdb;
}

#comments {
  background-color: #f7f7f7;
}

#comments h2 {
  font-family: MuseoSlab100Regular, Helvetica, arial, sans-serif;
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 38px;
  margin: 30px 0 10px;
}

#comments article {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #fff;
  margin-bottom: 0;
  padding-bottom: 40px;
  padding-top: 40px;
}

#comments article:first-child {
  border-top: none;
  padding-top: none;
}

#comments article:last-child {
  border-bottom: none;
  padding-bottom: 60px;
}

#comments article img, aside.about img {
  @include border-radius(3px);
}

#comments article time, #posts ul li time, #archive ul li time, #categories ul li time {
  color: $text_color_alt;
  font-size: 11px;
  text-transform: uppercase;
}

#comments article p.author {
  color: $text_color_alt;
  font-size: 14px;
  margin-top: 2px;
}

#comments article.owner p {
  color: $link_hover_color;
}

#comments-form {
  padding-top: 30px;
  background-color: darken(#f7f7f7, 1);
}

#comments-form h2 {
  font-family: MuseoSlab100Regular, Helvetica, arial, sans-serif;
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 38px;
  margin-top: 30px;
}

#comments-form form {
  margin-top: 40px;
}

#comments-form form label {
  font-size: 14px;
}

#comments-form form .help-inline {
  color: $text_color_alt;
  font-size: 14px;
}

#comments-form form .btn {
  margin: 20px 0 0 160px;
}

article#main h2 {
  margin: 60px 0 40px 0;
}

article#main p:first-child {
  margin-top: 0;
}

div.reply form {
  margin: 40px 0;
}

div.reply .btn {
  margin-left: 160px;
}

div.reply label {
  font-size: 14px;
}

div.reply span.help-inline {
  color: $text_color_alt;
  font-size: 14px;
}

#posts ul {
  list-style: none;
  padding: 0 0;
  margin: 13px 0 0;
}

#posts ul li {
  margin: 0 0 40px 0;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -1px;
}

#posts ul li i {
  margin: 6px 0 0;
}

#posts ul li a {
  border: none;
}

#posts ul li time, #archive ul li time, #categories ul li time {
  display: block;
  padding: 0 0;
  margin: 0 0;
  line-height: 14px;
  letter-spacing: normal;
}

aside.about {
  font-size: 12px;
  line-height: 16px;
  color: $text_color_alt;
}

aside.about p.info {
  width: 148px;
}

aside.about p.avatar {
  width: 72px;
}

aside.about p.avatar, aside.about p.info {
  float: left;
}

aside.about img {
  margin: 0 12px 0 0;
}

aside nav ul {
  list-style: none;
  padding: 0 0;
  margin: 40px 0 0;
}

aside nav ul li {
  margin: 12px 0;
  font-size: 14px;
}

#archive ul, #categories ul {
  padding: 0 0;
  margin: 12px 0 40px 0;
  list-style: none;
}

#archive ul li ul li, #categories ul li ul li {
  margin: 16px 0;
}

blockquote small {
  color: $text_color_alt;
}