@import url(http://fonts.googleapis.com/css?family=Noticia+Text:400,700);

* { padding: 0; margin: 0; }

body {
    -webkit-font-smoothing: antialiased;
    background: #e2e2e2 url(../images/cardboard.png) 0 0 repeat scroll;	
}

body > header {
	position: fixed;
	border-bottom: 1px dotted #333;
	background-color: #c4d4cb;
	width: 100%;
	z-index: 10;
	top: 0;
	left: 0;
	opacity: 0.8;
	padding: 10px 60px;
	color: #333;
}

body > header section {
	width: 67%;
}

body > header p {
	margin: 0;
	font-size: 14px;
	font-weight: 600;
	padding: 5px 0 0;
	text-shadow: -1px -1px 0 #e2e2e2;
	color: #55665e;
}

body > header nav {
	float: right;
	margin: 4px 0 0;
}

body > header ul {
	list-style: none;
}

body > header ul li {
	float: left;
}

body > header ul li:first-child iframe {
	width: 240px!important;
}

body > header ul li:last-child {
	margin: 1px 0 0;
}

p {
    color: #30282a;
    font-family: "Helvetica Neue", arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 24px;
	font-weight: 400;
}

h1, h2, h3 {
    font-family: 'Noticia Text', Georgia, serif;
    color: #542733;
    font-weight: normal;
    font-size: 36px;
    line-height: 100%;
    margin: 24px 0;
    letter-spacing: -1px;
}

h3 {
	font-size: 24px;
}
        
a { color: #000; }
a:hover { color: #e84167; }

article {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAKCAYAAABxJ+R3AAAAIklEQVQIHWNYsW3vfyBgAGFGEAEDTDAGiGZauX0fXIq6ygDezBtybl0/+AAAAABJRU5ErkJggg==") repeat-x scroll center bottom transparent;
    padding: 10px 0 20px;
}

section#blog {
    margin: 60px;
	z-index: 1;
}

section#blog > article > a {
    text-decoration: none;
}

section#blog > article > a:hover > p {
    color: #000;
}

section#blog > article > a:hover > header > div.tableless {
	background-color: #333;
}

section#blog div.tableless {
	font-size: 12px;
	text-transform: uppercase;
	font-family: "Helvetica Neue", arial, sans-serif;
	float: right;
	display: inline-block;
	padding: 6px;
	background-color: #e84167;
	border-radius: 3px;
	color: #fff;
	margin: 10px 0 0;
}

@media screen and (min-width: 767px) {
    #blog { width: 70%; max-width: 940px; }
}

@media only screen and (max-width: 767px) {         
    body { margin: 20px; }
    h1 { font-size: 36px; }
}
