@font-face {
  font-family:'ProximaNova';
  src:url("../fonts/proximanova-regular-webfont.eot");
  src:url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#ProximaNovaRgRegular") format("svg");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'ProximaNovaSemiBold';
  src:url("../fonts/proximanova-semibold-webfont.eot");
  src:url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#ProximaNovaLtBold") format("svg");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'ProximaNovaBlack';
  src:url("../fonts/proximanova-black-webfont.eot");
  src:url("../fonts/proximanova-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-black-webfont.woff") format("woff"), url("../fonts/proximanova-black-webfont.ttf") format("truetype"), url("../fonts/proximanova-black-webfont.svg#ProximaNovaBlRegular") format("svg");
  font-weight:normal;
  font-style:normal;
}

body {
  font-family:ProximaNova,  Arial,  sans-serif;
  font-size:15px;
  line-height:20px;
}

h1 {
  font-family:ProximaNovaBlack,  Arial,  sans-serif;
  font-size:36px;
  line-height:42px;
  letter-spacing:-1px;
  text-transform:uppercase;
  font-weight:normal;
}

h2 {
  font-size:28px;
  line-height:34px;
  letter-spacing:-1px;
  font-weight:normal;
}

a {
  -webkit-transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -ms-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
  color:#00a383;
  text-decoration:none;
  border-bottom:1px dotted #00a383;
}

a:hover {
  color:#ff503e;
  text-decoration:none;
  border-color:#ff503e;
}

strong {
  font-family:ProximaNovaSemiBold,  arial,  sans-serif;
}

code, pre {
  font-family:Menlo,  Monaco,  Consolas,  "Courier New",  monospace;
  font-size:14px;
}

#sidebar {
  border-left:6px solid #000;
  border-right:6px solid #f1f1f1;
  position:fixed;
  top:0;
  left:0;
  width:248px;
  height:100%;
  background:#00a383;
}

#sidebar header {
  padding:0 0 0 40px;
}

#sidebar header h1 {
  margin:40px 0 0 0;
  font-size:36px;
  line-height:28px;
  letter-spacing:0;
  color:#fff;
}

#sidebar header h2 {
  font-family:ProximaNovaSemiBold,  arial,  sans-serif;
  margin-top:0;
  color:#000;
  font-size:20px;
  line-height:24px;
  letter-spacing:0;
}

#sidebar header a {
  color:#000;
}

#sidebar header a:hover {
  text-decoration:none;
  cursor:pointer;
}

#sidebar #lang {
  border-top:1px dotted #000;
  margin:20px 0 0 0;
  padding:20px 0 0 40px;
}

#sidebar #lang i {
  display:inline-block;
  margin:3px 0 0;
}

#sidebar #lang a {
  text-transform:lowercase;
  font-size:12px;
  color:#000;
  border-color:#000;
}

#sidebar #lang a:hover {
  color:#fff;
  border-color:#fff;
}

#sidebar nav {
  border-top:1px dotted #000;
  margin:20px 0;
  padding:20px 0 5px 40px;
}

#sidebar nav a {
  display:block;
  color:#000;
  padding:0 0;
  width:176px;
  margin:12px 0;
  text-transform:uppercase;
  font-size:12px;
  border:none;
  border-bottom:1px dotted #000;
}

#sidebar nav a:hover {
  cursor:pointer;
  color:#fff;
  border-bottom:1px solid #000;
}

#content {
  padding:0 0;
}

#content header {
  margin:-11px 0 0;
}

#content header h1, #content header h1 a {
  font-family:ProximaNovaSemiBold,  Arial,  sans-serif;
  text-transform:none;
  font-size:46px;
  line-height:44px;
  color:#000;
  border:none;
}

#content article {
  padding:0 0 40px 0;
}

#content article h1, #content article h2, #content article h3 {
  font-family:ProximaNovaSemiBold,  Arial,  sans-serif;
}

#content article h2 {
  font-size:28px;
  line-height:32px;
  margin-bottom:0;
}

#content article:last-child {
  border-bottom:none;
}

#content article .info {
  display:block;
  margin:40px 0 20px 0;
  color:#000;
  padding:10px 0 10px 0;
  color:#999;
  border-bottom:1px dashed #999;
  border-top:6px solid #ff503e;
}

#content article .info ul {
  list-style:none inside;
  margin:0 0;
  padding:0 0;
}

#content article .info ul li {
  float:left;
  margin:0 20px 0 0;
}

#content article .info ul li, #content article .info ul li time, #content article .info ul li a {
  font-size:13px;
}

#content article.single h1 {
  margin-bottom:0;
}

#content article.single .info {
  margin-top:20px;
  border-top:1px solid #f1f1f1;
  border-bottom:1px solid #f1f1f1;
}

#content .archive {
  list-style:none inside;
  margin:0 0;
  padding:0 0;
}

#content .archive ul {
  list-style:none;
}

#content .archive ul li {
  margin:12px 0;
}

#content .comments {
  border-top:6px solid #ff503e;
}

#content .comments header {
  border-bottom:1px dotted #000;
  margin-bottom: 40px;
}

#content .comments h2 {
  font-family:ProximaNovaSemiBold,  Arial,  sans-serif;
  margin:20px 0 10px 0;
}

#content #comments article .metadata .image-wrap img {
  border-radius:69px;
}

#content #comments article .body time {
  display:block;
  color:#666;
  font-size:13px;
  margin:0 0;
}

#content #comments article .body p {
  margin:0 0 12px 0;
}

#content #comments article.owner .body p {
  color:#369bca;
}

#content #comments-form form {
  margin:20px 0 0;
}

#content #comments-form form .input-xlarge {
  width:450px;
}

#content #comments-form form .help-inline {
  font-size:13px;
}

ol.linenums {
  margin:0 0 !important;
}

#categories > ul {
  list-style: none;
}
#categories > ul > li > ul {
  list-style: square;
  color: #999;
}
#categories > ul > li > ul > li {
  margin: 0 0 12px 0;
}
#categories ul li time {
  display: block;
  color: #999;
  font-size: 13px;
}