/* Reset
-------------------------------------------------------------- */
    
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Globals
-------------------------------------------------------------- */
body{
  background: url(/images/bg-cover.png) repeat 0 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

header, section#main, div#blog-container, nav#menu{
  width:940px;
  margin:0 auto;
  padding:20px;
}

nav#menu{
  padding:20px 20px 0 20px;
}

header h1{
  color:#e64f00;
  font-size:56px;
  letter-spacing:-1.2px;
  text-shadow: #f5f5f5 -1px -1px 0;
}

header h2{
  font-size:20px;
  text-shadow: #f5f5f5 -1px -1px 0;
  letter-spacing:-1.3px;
}

header h2 small{
  color:#b2b2a3;
}

header div#search{
  float:right;
  margin-top:25px;
}

div.section-title{
  margin:0 0;
  background-color:#f5f5f5;
  border:1px solid #fff;
  padding:6px;
}

div.section-title h2{
  color:#000;
  text-shadow: #f5f5f5 1px 1px 0;
  display:inline;
}

.round-small{
  border-radius:2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
}

.shadow{
  -webkit-box-shadow: 0px 0px 6px #B2B2A3;
  -moz-box-shadow: 0px 0px 6px #B2B2A3;
  box-shadow: 0px 0px 6px #B2B2A3;
}

ul#projects-main li.project{
  width:218px;
  background-color:#f5f5f5;
  border:1px solid #fff;
  float:left;
  margin:0 20px 20px 0;
  font-weight:300;
  letter-spacing:0.2px;
}

ul#projects-main li.project div.actions{
  border-top:1px #B2B2A3 dotted;
}

ul#projects-main li.project div.actions a{
  text-decoration:none;
  font-size:10px;
  color:#666;
}

ul#projects-main li.project p.tags{
  line-height:18px;
}

ul#projects-main li.project p.tags a{
  float:left;
  margin:0 6px 0 0;
  color:#E64F00;
  text-decoration:none;
  border-bottom:1px solid #fff;
}

ul#projects-main li.project p.tags a:hover{
  color:#98CB66;
}

ul#projects-main li.project p.tags span.label{
  float:left;
  display:inline-block;
  margin:0 6px 0 0;
  color:#666;
}

ul#projects-main li.project p.category {
  color:#666;
}

ul#projects-main li.project p.category a{
  color:#333;
  border-bottom:1px dotted #333;
  text-decoration:none;
  font-weight:900;
}

ul#projects-main li.project p.category a:hover{
  color:#98CB66;
  border-color:#98CB66;
  border-style:solid;
}

ul#projects-main li.project div.actions ul{
  float:right;
}

ul#projects-main li.project div.actions ul li{
  float:left;
}

ul#projects-main li.project p.time-ago{
  font-size:10px;
  text-transform:uppercase;
  background-color:#f5f5f5;
  padding:2px;
  color:#666;
  text-align:center;
  text-shadow: #fff -1px -1px 0;
  letter-spacing:-0.3px;
}

ul#projects-main li.first, ul#projects-main li.last{
  margin:0 0 20px 0;
}

div.project-container, div.section-title span{
  margin:6px;
  background-color:#fff;
  padding:6px;
}

div.section-title span{
  margin:0 0;
  display:block;
}

ul#projects-main li div.screenshot{
  padding:2px 3px 2px 3px;
  background-color:#fff;
  border:1px solid #f5f5f5;
}

ul#projects-main li p{
  font-size:12px;
  margin:6px 0 6px 0;
  color:#555;
  line-height:15px;
  text-align:left;
  padding:6px;
}

ul#projects-main li div.screenshot img{
  border:1px solid #f5f5f5;
}

ul#projects-main li h3{
  color:#b2b2a4;
  margin:6px 0 3px 0;
  letter-spacing:-1.2px;
  font-size:22px;
  text-shadow: #f5f5f5 -1px -1px 0;
  padding:6px;
}

div.pagination{
  clear:both;
  text-align:center;
}

section#blog{
  border-top:1px #fff solid;
  background-color:#7d7d71;
}

section#blog p.more{
  text-align:right;
  font-size:12px;
  margin:0 12px 0 12px;
  border-top:1px solid #999;
  padding:12px 0 0;
}

section#blog p.more a{
  background-color:#B2B2A3;
  text-decoration:none;
  color:#666;
  display:inline-block;
  padding:6px;
}

section#blog p.more a:hover{
  background-color:#98CB66;
  color:#fff;
}

div#blog-container h2{
  color:#f2f2f2;
  text-shadow: #666 -1px -1px 0;
  padding:0 12px 12px 12px;
  font-size:32px;
}

nav#menu ul{
  float:right;
  margin:6px 0 0;
}

nav#menu ul li{
  float:left;
  margin:0 12px 0 0;
}

nav#menu ul li.last{
  margin:0 0;
}

nav#menu ul li a{
  color:#98CB66;
  text-decoration:none;
  font-weight:900;
  border-bottom:1px dotted #B2B2A3;
  font-size:14px;
}

nav#menu ul li a:hover{
  color:#E64F00;
  border-color:#E64F00;
  border-style:solid;
}

div.pagination a, div.pagination span.current{
  display:inline-block;
  text-indent:-9000px;
  width:10px;
  height:11px;  
}
div.pagination span.current{
  background:url(/images/pagination.png) -10px 0 no-repeat;
}

div.pagination a{
  background:url(/images/pagination.png) 0 0 no-repeat;
}

header div#search input#fld-search {
  border:1px solid #B2B2A3;
  width:270px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
  -webkit-border-top-right-radius:0!important;
  -webkit-border-bottom-right-radius:0!important;
  -moz-border-radius-topright:0!important;
  -moz-border-radius-bottomright:0!important;
  border-top-right-radius:0!important;
  border-bottom-right-radius:0!important;
  padding:6px;
  -webkit-box-shadow: inset 0px 0px 4px #B2B2A3;
  -moz-box-shadow: inset 0px 0px 4px #B2B2A3;
  box-shadow: inset 0px 0px 4px #B2B2A3;
}

header div#search input#fld-search:focus{
  border-color:#98CB66;
  color:#98CB66;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}

header div#search input#btn-search {
  color:#fff;
  font-weight:900;
  background:#98CB66;
  border:none;
  width:28px;
  -webkit-border-top-right-radius:3px;
  -webkit-border-bottom-right-radius:3px;
  -moz-border-radius-topright:3px;
  -moz-border-radius-bottomright:3px;
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
  -webkit-border-top-left-radius:0!important;
  -webkit-border-bottom-left-radius:0!important;
  -moz-border-radius-topleft:0!important;
  -moz-border-radius-bottomleft:0!important;
  border-top-left-radius:0!important;
  border-bottom-left-radius:0!important;
  cursor:pointer;
  padding:6px;
  -webkit-box-shadow: inset 0px 0px 4px #666;
  -moz-box-shadow: inset 0px 0px 4px #666;
  box-shadow: inset 0px 0px 4px #666;
}

header div#search input#btn-search:hover {
  background:#E64F00;
}

ul#blog-posts{
  margin:0 12px 0 12px;
}

ul#blog-posts li{
  color:#333;
  border-bottom:1px solid #333;
  padding:20px 0 20px 0;
  border-top:1px solid #999;
}

ul#blog-posts li.first{
  border-top:none;
  margin:0 0;
}

ul#blog-posts li.last{
  margin:0 0;
}

ul#blog-posts li h3{
  background-color:#98CB66;
  color:#fff;
  font-size:22px;
  display:inline-block;
  padding:6px;
}

ul#blog-posts li p.time-ago{
  font-size:11px;
  margin:3px 0 3px 0;
  padding:3px 0 3px 0;
  color:#f2f2f2;
}

ul#blog-posts li p.abstract{
  color:#B2B2A3;
  line-height:24px;
  font-size:14px;
  margin:10px 0 10px 0;
  font-weight:300;
  letter-spacing:-0.2px;
}

ul#blog-posts li p.abstract a{
  color:#B2B2A3;
  text-decoration:none;
}

ul#blog-posts li p.abstract a:hover{
  color:#f5f5f5;
}

footer{
  background-color:#000;
  border-top:1px solid #666;
}

div#footer-container{
  width:940px;
  margin:0 auto;
  padding:20px;
}

div#footer-container section{
  float:left;
  width:440px;
  margin:0 20px 0 0;
  min-height:300px;
  padding:10px;
}

div#footer-container section.last{
  margin:0 0;
}

div#footer-container h2{
  color:#f2f2f2;
  text-shadow: #666 -1px -1px 0;
  padding:0 12px 12px 12px;
  font-size:32px;
}

a.lnk-top{
  float:right;
  font-size:12px;
  text-decoration:none;
  color:#B2B2A3;
  margin:20px 0 0;
  text-shadow:none;
}

div.select{
  float:left;
  border:1px solid #B2B2A3;
  height:12px;
  font-size:11px;
  padding:6px;
  margin:0 12px 0 8px;
  font-weight:900;
  -webkit-box-shadow: inset 0px 0px 2px #B2B2A3;
  -moz-box-shadow: inset 0px 0px 2px #B2B2A3;
  box-shadow: inset 0px 0px 2px #B2B2A3;
  background-color:#f2f2f2;
}

div.select a.title{
  color:#999;
  text-decoration:none;
}

div.select span{
  float:right;
  margin:-2px 2px 0 18px;
  display:inline;
  background-color:transparent;
  padding:0 0;
  color:#666;
}

nav#menu h2{
  float:left;
  margin:4px 12px 0 0;
  color:#999;
}

section#social{
  color:#B2B2A3;
  font-size:14px;
}

section#social a{
  color:#fff;
}

section#social li{
  margin:12px;
  font-weight:300;
  letter-spacing:-0.2px;
}

/* Misc/Util
-------------------------------------------------------------- */

.clearfix:after                 { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix                { zoom: 1; } /* IE6 */
*:first-child+html .clearfix    { zoom: 1; } /* IE7 */

.field_with_errors{
  display:inline;
}

.field_with_errors label {
  background-color:red!important;
  color: #fff!important;
}

span.prev_page, a.prev_page, span.next_page, a.next_page {
  display: none !important;
}