body{
  background: #fff url(/images/bg-cover.png) repeat 0 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

div#blog-container, nav#menu{
  width:940px;
  margin:0 auto;
  padding:20px;
}

div#blog-container{
  width:960px;
}

nav#menu{
  padding:20px 20px 0 20px;
}

header h1{
  color:#e64f00;
  font-size:42px;
  letter-spacing:-1.2px;
  text-shadow: #f5f5f5 -1px -1px 0;
}

header h1 a{
  color:#e64f00;
  text-decoration:none;
}

header h2{
  font-size:20px;
  text-shadow: #f5f5f5 -1px -1px 0;
  letter-spacing:-1.3px;
}

header h2 small{
  color:#b2b2a3;
}

header div#search{
  float:right;
  margin-top:25px;
}

div.section-title{
  margin:0 0;
  background-color:#f5f5f5;
  border:1px solid #fff;
  padding:6px;
}

div#project-info{
  margin:0 0;
  background-color:#f5f5f5;
  border:1px solid #fff;
  padding:6px;
  margin-bottom:12px;
}

div.project{
  background-color:#fff;
}

div.breadcrumb{
  padding:12px;
  border-bottom:1px dotted #ccc;
}

div.breadcrumb span a{
  font-size:12px;
  text-decoration:none;
  color:#E64F00;
}

div.breadcrumb span{
  float:right;
  display:block;
  padding:2px 12px 0 0;
}

div.project div.breadcrumb ul li{
  float:left;
  margin:0 6px 0 6px;
  padding:6px;
  font-size:12px;
}

div.project div.breadcrumb ul li.separator{
  color:#B2B2A3;
}

div.project div.breadcrumb ul li a{
  color:#E64F00;
}

div.project div.breadcrumb ul li.active a{
  font-weight:900;
}

div#project-details{
  padding:24px;
}

div#project-details div.gallery{
  float:right;
  width:298px;
  padding:10px;
  background-color:#f5f5f5;
}

div.related-projects{
margin:24px 0 0;
}

div.related-projects ul li{
  padding:6px 0 6px 0;
  margin:6px 0 6px 0;
}

div.related-projects h3{
  margin:24px 0 12px 0;
}

div#project-details div.gallery div#screenshots ul li{
  float:left;
  background-color:#ccc;
  padding:6px;
  margin:4px;
}

div#project-details div.gallery div#screenshots ul li.last{ margin-right:0!important; }
div#project-details div.gallery div#screenshots ul li.first{ margin-left:0!important; }

div#project-details div.gallery img{
  border:1px solid #B2B2A3;
}

div#project-details div.meta-data{
  font-size:14px;
  font-weight:300;
}
div#project-details div.meta-data p{
  line-height:22px;
  margin:12px 12px 12px 0;
  width:540px;
}

div#project-details div.meta-data a{
  color:#E64F00;
  font-weight:400;
  text-decoration:none;
  border-bottom:1px dotted #E64F00;
}

div#project-details div.meta-data p strong{
  font-weight:600;
}

div#project-details div.meta-data p.tags a{
  margin:0 12px 0 0;
}
div#project-details h2{
  font-size:42px;
  letter-spacing:-1px;
}

div.section-title h2{
  color:#000;
  text-shadow: #f5f5f5 1px 1px 0;
  display:inline;
}

div#projects-container{
  overflow:hidden;
}

div#projects{
  width:2000px;
}

div#projects div.projects-container{
  float:left;
  width:960px;
}

ul#projects-main li.project{
  width:298px;
  background-color:#f5f5f5;
  border:1px solid #fff;
  float:left;
  margin:0 20px 20px 0;
  font-weight:300;
  letter-spacing:0.2px;
}

ul#projects-main li.project div.actions{
  border-top:1px #B2B2A3 dotted;
  padding:12px 0 6px 0;
}

ul#projects-main li.project div.actions a{
  text-decoration:none;
  font-size:12px;
  color:#666;
}

ul#projects-main li.project p.tags{
  line-height:18px;
}

ul#projects-main li.project p.tags a{
  float:left;
  margin:0 6px 0 0;
  color:#E64F00;
  text-decoration:none;
  border-bottom:1px solid #fff;
}

ul#projects-main li.project p.tags a:hover{
  color:#98CB66;
}

ul#projects-main li.project p.tags span.label{
  float:left;
  display:inline-block;
  margin:0 6px 0 0;
  color:#666;
}

ul#projects-main li.project p.category {
  color:#666;
}

ul#projects-main li.project p.category a{
  color:#333;
  border-bottom:1px dotted #333;
  text-decoration:none;
  font-weight:900;
}

ul#projects-main li.project p.category a:hover{
  color:#98CB66;
  border-color:#98CB66;
  border-style:solid;
}

ul#projects-main li.project div.actions ul{
  float:right;
}

ul#projects-main li.project div.actions ul li{
  float:left;
}

ul#projects-main li.project p.time-ago{
  font-size:12px;
  text-transform:uppercase;
  background-color:#f5f5f5;
  padding:2px;
  color:#666;
  text-align:center;
  text-shadow: #fff -1px -1px 0;
  letter-spacing:-0.3px;
}

ul#projects-main li.first, ul#projects-main li.last{
  margin:0 0 20px 0;
}

div.project-container, div.section-title span{
  margin:6px;
  background-color:#fff;
  padding:6px;
}

div.section-title span{
  margin:0 0;
  display:block;
}

ul#projects-main li div.screenshot{
  padding:2px 3px 2px 3px;
  background-color:#fff;
  border:1px solid #f5f5f5;
}

ul#projects-main li p{
  font-size:12px;
  margin:6px 0 6px 0;
  color:#555;
  line-height:15px;
  text-align:left;
  padding:6px;
}

ul#projects-main li div.screenshot img{
  border:1px solid #f5f5f5;
}

ul#projects-main li h3{
  color:#b2b2a4;
  margin:6px 0 3px 0;
  letter-spacing:-1.2px;
  font-size:22px;
  text-shadow: #f5f5f5 -1px -1px 0;
  padding:6px;
}

div.pagination{
  clear:both;
  text-align:center;
  width:960px;
}

section#blog{
  display:block;
}

section#blog p.more{
  text-align:right;
  font-size:12px;
  margin:0 12px 0 12px;
  border-top:1px solid #999;
  padding:12px 0 0;
}

section#blog p.more a{
  background-color:#B2B2A3;
  text-decoration:none;
  color:#666;
  display:inline-block;
  padding:6px;
}

section#blog p.more a:hover{
  background-color:#98CB66;
  color:#fff;
}

div#blog-container h2{
  color:#f2f2f2;
  text-shadow: #666 -1px -1px 0;
  padding:0 12px 12px 10px;
  font-size:32px;
  border-top:1px #fff solid;
  background-color:#7d7d71;
}

nav#menu ul.sections{
  float:right;
  margin:6px 0 0;
}

nav#menu ul.sections li{
  float:left;
  margin:0 12px 0 0;
}

nav#menu ul.sections li.last{
  margin:0 0;
}

nav#menu ul.sections li a{
  color:#98CB66;
  text-decoration:none;
  font-weight:900;
  border-bottom:1px dotted #B2B2A3;
  font-size:14px;
}

nav#menu ul.sections li a:hover{
  color:#E64F00;
  border-color:#E64F00;
  border-style:solid;
}

div.pagination a, div.pagination span.current{
  display:inline-block;
  text-indent:-9000px;
  width:10px;
  height:11px;  
}
div.pagination span.current{
  background:url(/images/pagination.png) -10px 0 no-repeat;
}

div.pagination a{
  background:url(/images/pagination.png) 0 0 no-repeat;
}

header div#search input#fld-search, #new_contact input[type="text"], #new_contact textarea {
  border:1px solid #B2B2A3;
  width:270px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
  -webkit-border-top-right-radius:0;
  -webkit-border-bottom-right-radius:0;
  -moz-border-radius-topright:0;
  -moz-border-radius-bottomright:0;
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  padding:6px;
  -webkit-box-shadow: inset 0px 0px 4px #B2B2A3;
  -moz-box-shadow: inset 0px 0px 4px #B2B2A3;
  box-shadow: inset 0px 0px 4px #B2B2A3;
}

#new_contact input[type="text"], #new_contact textarea {
  width:430px;
}

header div#search input#fld-search:focus{
  border-color:#98CB66;
  color:#98CB66;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}

header div#search input#btn-search, #new_contact input[type="submit"] {
  color:#fff;
  font-weight:900;
  background:#98CB66;
  border:none;
  width:28px;
  height:27px;
  -webkit-border-top-right-radius:3px;
  -webkit-border-bottom-right-radius:3px;
  -moz-border-radius-topright:3px;
  -moz-border-radius-bottomright:3px;
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
  -webkit-border-top-left-radius:0;
  -webkit-border-bottom-left-radius:0;
  -moz-border-radius-topleft:0;
  -moz-border-radius-bottomleft:0;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  cursor:pointer;
  padding:6px;
  -webkit-box-shadow: inset 0px 0px 4px #666;
  -moz-box-shadow: inset 0px 0px 4px #666;
  box-shadow: inset 0px 0px 4px #666;
}

#new_contact input[type="submit"]{
  width:auto;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  font-size:14px;
  color:#000;
}

div.loader{
  width:960px;clear:both;text-align:center;
}

header div#search input#btn-search:hover, #new_contact input[type="submit"]:hover {
  background:#E64F00;
}

ul#blog-posts{
  margin:0 12px 0 10px;
}

ul#blog-posts h3 a{
  color:#fff;
  text-decoration:none;
}

ul#blog-posts li{
  color:#333;
  border-bottom:1px solid #333;
  padding:20px 0 20px 0;
  border-top:1px solid #999;
}

ul#blog-posts li.first{
  border-top:none;
  margin:0 0;
}

ul#blog-posts li.last{
  margin:0 0;
}

ul#blog-posts li h3{
  background-color:#98CB66;
  color:#fff;
  font-size:22px;
  display:inline-block;
  padding:6px;
}

ul#blog-posts li p.time-ago{
  font-size:11px;
  margin:3px 0 3px 0;
  padding:3px 0 3px 0;
  color:#f2f2f2;
}

ul#blog-posts li p.abstract{
  color:#B2B2A3;
  line-height:24px;
  font-size:14px;
  margin:10px 0 10px 0;
  font-weight:300;
  letter-spacing:-0.2px;
}

ul#blog-posts li p.abstract a{
  color:#B2B2A3;
  text-decoration:none;
}

ul#blog-posts li p.abstract a:hover{
  color:#f5f5f5;
}

footer{
  background-color:#000;
  border-top:1px solid #666;

}

div#footer-container{
  width:960px;
  margin:0 auto;
  margin-top:36px;
}

div#footer-container section{
  float:left;
  width:470px;
  margin:0 20px 0 0;
  min-height:300px;
}

div#footer-container section.last{
  margin:0 0;
}

div#footer-container h2{
  color:#f2f2f2;
  text-shadow: #666 -1px -1px 0;
  padding:0 12px 12px 12px;
  font-size:32px;
}

a.lnk-top{
  float:right;
  font-size:12px;
  text-decoration:none;
  color:#B2B2A3;
  margin:20px 0 0;
  text-shadow:none;
}

div.filter-options{
  position:absolute;
  padding:6px;
  background-color:#000;
  border:1px solid #666;
  display:none;
  width:140px;
}

div#options-categories{
  margin:26px 0 0 96px;
}

div#options-sort{
  margin:26px 0 0 270px;
}

div.filter-options ul{
  margin:0 0 ;
}

div.filter-options ul li{
  float:none;
  padding:3px;
  margin:3px;
  border-bottom:1px dotted #666;
  font-size:13px;
  font-weight:300;
  text-align:center;
}

div.filter-options ul li.last{
  border:none;
}

div.filter-options ul li a{
  text-decoration:none;
  color:#98CB66;
}

div.filter-options ul li a:hover{
  color:#f5f5f5;
}

div.select{
  float:left;
  border:1px solid #B2B2A3;
  height:12px;
  font-size:12px;
  padding:6px;
  margin:0 12px 0 8px;
  font-weight:400;
  letter-spacing:-0.2px;
  -webkit-box-shadow: inset 0px 0px 2px #B2B2A3;
  -moz-box-shadow: inset 0px 0px 2px #B2B2A3;
  box-shadow: inset 0px 0px 2px #B2B2A3;
  background-color:#f2f2f2;
  width:140px;
}

div.select.active{
  background-color:#000;
  border:1px solid #000;
}

div.select a.title{
  color:#98CB66;
  text-decoration:none;
  display:block;
}

div.select.active a.title{
  color:#98CB66;
}

div.select.active span{
  color:#98CB66;
}

div.select span{
  float:right;
  margin:-2px 2px 0 18px;
  display:inline;
  background-color:transparent;
  padding:0 0;
  color:#666;
}

nav#menu h2{
  float:left;
  margin:4px 12px 0 0;
  color:#999;
}

section#social{
  color:#B2B2A3;
  font-size:14px;
}

section#social a{
  color:#fff;
}

section#social li{
  margin:12px;
  font-weight:300;
  letter-spacing:-0.2px;
}

div#live-search{
  position:absolute;
  background-color:#B2B2A3;
  border-color:1px solid #333;
  padding:6px;
  width:300px;
  font-size:12px;
  display:none;
}

div#live-search ul li strong{
  font-size:14px;
  display:block;
  margin:0 0 6px 0;
}

div#live-search ul li{
  margin:6px 0 6px 0;
  line-height:12px;
  padding:6px;
}

div#live-search ul li.first{
  margin:0 0 6px 0;
}

div#live-search ul li.last{
  margin:6px 0 0 0;
}

div#live-search ul li.alt{
  background-color:#d1cebd;
}

div#live-search ul li a{
  color:#666;
  text-decoration:none;
  font-weight:300;
  display:block;
}

div#live-search ul li a:hover{
  color:#000;
}

div#live-search ul li div.screenshot{
  float:left;
  margin:0 12px 0 0;
}

form#new_contact{
  margin:12px;
}

form#new_contact div.field{
  margin:0 0 12px 0;
}

form#new_contact label{
  display:block;
  color:#B2B2A3;
  font-weight:300;
  letter-spacing:-0.2px;
  margin:0 0 3px 0;
}

form#new_contact div.actions{
  text-align:right;
}

form#new_contact textarea, form#new_contact input[type="text"]{
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
}

form#new_contact textarea{
  height:100px;
}


li.more-details{
  margin:0 0 0 12px!important;
}

p.more-details{
  margin:24px 0 0!important;
  text-align:center;
  width:auto!important;
  border-top:1px solid #f2f2f2;
  padding:24px 0 0;
}
.more-details a{
  color:#fff!important;
  font-weight:900;
  background:#98CB66;
  border:none;
  width:28px;
  height:27px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  cursor:pointer;
  padding:6px;
  -webkit-box-shadow: inset 0px 0px 4px #666;
  -moz-box-shadow: inset 0px 0px 4px #666;
  box-shadow: inset 0px 0px 4px #666;
}

div.no-results{
  font-size:34px;
  line-height:60px;
  width:940px;
  color:#333;
  text-shadow: #fff -1px -1px 0;
  text-align:center;
  padding:46px 0 46px 0;
}

span.prev_page, a.prev_page, span.next_page, a.next_page {
  display: none !important;
}
