<div id="projects-container">
  <div id="projects" class="clearfix" data-page="<%=(@projects.count/6)%>">
    <% unless @projects.empty? %>
      <%= render 'projects' %>
      <div class="pagination-container">
        <%= will_paginate @projects %>
      </div>
    <% end %>
  </div>
</div>