<div id="projects-container">
  <div id="projects" class="clearfix">
    <% unless @projects.empty? %>
      <%= render 'projects' %>
      <div class="pagination">
        <%= will_paginate @projects %>
      </div>
    <% end %>
  </div>
</div>