<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><strong>Nome: </strong> <%=@data.name%><br />
    <strong>E-mail: </strong> <%=@data.email%><br />
    <strong>Mensagem: </strong> <pre><%=@data.message%></pre></p>
  </body>
</html>