*, html {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}

a {
	color: #0099CC;
}

body {
	margin: 10px;
}

small {
	display: block;
	font-size: 10px;
}