<section id="blog">
  <div id="blog-container">
    <h2><a href="#header" class="lnk-top">&uarr; topo</a>Blog</h2>
    <ul id="blog-posts" class="clearfix">
    <% unless @posts.nil? or @posts.empty? %>
      <% @posts.each do |post| %>
        <li<% if @posts.last == post %> class="last"<% elsif @posts.first == post %> class="first"<% end %>>
          <h3><%= link_to post.title, post_path(post) %></h3>
          <p class="abstract"><%= link_to post.abstract, post_path(post) %></p>
          <p class="time-ago">Publicado hรก <%= time_ago_in_words(post.published_date) %>.</p>
        </li>
      <% end %>
    <% end %>
    </ul>
    <p class="more"><%= link_to raw("Ver todos os artigos &rarr;"), blog_path, :class => "round-small" %></p>
  </div>
</section>