<div class="container">    
  <div class="row">
    <div class="span12">
      <header>
        <h1>Arquivo</h1>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <%= render "layouts/blog_about" %>
    </div>
    <div class="span8 offset1">
      <section id="archive">
        <ul>
        <% @years.each do |year, data| %>  
          <li>
              <h2><%= year %></h2>
              <ul>
              <% data["posts"].each do |post| %>
                <li>
                  <%= link_to post.title, post_url(post) %>
                </li>
              <% end %>
              </ul>
          </li>
        <% end %>
        </ul>
      </section>
    </div>
  </div>
</div>