<div class="container">
  <div class="row">
    <div class="span12">
      <header>
        <h1>Categorias</h1>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <%= render "layouts/blog_about" %>
    </div>
    <div class="span8 offset1">
      <section id="categories">
        <ul>
        <% @categories.each do |category| %>  
          <% if category.posts.published.length > 0 %>
          <li>
              <h2><%= category.name %></h2>
              <ul>
              <% category.posts.published.each do |post| %>
                <li>
                  <%= link_to post.title, post_url(post) %>
                </li>
              <% end %>
              </ul>
          </li>
          <% end %>
        <% end %>
        </ul>
      </section>
    </div>
  </div>
</div>