<ul id="posts-index">

  <% @posts.each do |post| %>
  <li>
    <h2><%= link_to post.title, post_url(post) %><% if from_tableless(post) %><span class="label tableless">Tableless</span><% end %></h2>
    <div class="time-ago">Publicado hรก <%= time_ago_in_words(post.published_date) %><% if not from_tableless(post) and (not post.block_comments or not post.comments.published.empty?) %> | <%= link_to total_comments_in_words(post.comments.published.length), post_path(post) + '#comments' %><% end %></div>
  </li>
  <% end %>
  
</ul>
