
  <% @posts.each do |post| %>
  <article>
	<a href="<%= post_url(post) %>">
	  <header>
		<% if from_tableless(post) %><div class="tableless">Tableless</div><% end %>  
      	<h1><%= post.title %></h1>
	  </header>
      <p><%= post.abstract %></p>
	</a>
    <p class="pub-date">Publicado hรก <time><%= time_ago_in_words post.published_date %></time></p>
  </article>
  <% end %>

