<div class="post">
  <article class="alpha">
    <%= raw(@post.body) %>
  </article>
  
  <div id="comments">
    <% if not @post.block_comments or not @post.comments.published.empty? %>
      <h2><%= total_comments_in_words(@post.comments.published.length) %></h2>    <% end %>
    
    <% unless @post.comments.published.empty? %>
      <ul id="list-comments">
        <% @post.comments.published.each do |comment| %>
          <%= render comment if comment.comment_id.nil? or comment.comment_id == 0 %>
        <% end %>
      </ul>
    <% end %>
    
    <% if not @post.block_comments %>
    <h3 id="tit-form-comment">Deixe seu comentário:</h3>
      <%= render "comments/form", :id => "new_comment" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
$(function(){
  $('pre').each(function(){
    var lang = $(this).attr('class').replace(/brush:/, '');
    if(lang == "") lang = "xml";
    $(this).snippet(lang,{
      style:"rand01",
      clipboard:"/flash/ZeroClipboard.swf",
    });
  });
});
</script>
