<div class="post">
  <article class="alpha">
    <%= raw(@post.body) %>
  </article>
  
  <div id="comments">
    <h2><%= total_comments_in_words(@post.comments.published.length) %></h2>
    
    <% unless @post.comments.published.empty? %>
      <ul id="list-comments">
        <% @post.comments.published.each do |comment| %>
          <%= render comment if comment.comment_id == 0 %>
        <% end %>
      </ul>
    <% end %>
    
    <% if not @post.block_comments %>
    <h3 id="tit-form-comment">Deixe seu comentário</h3>
      <%= render "comments/form", :id => "new_comment" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
	SyntaxHighlighter.config.clipboardSwf = '/clipboard.swf';
	SyntaxHighlighter.all();
</script>