<header>
  <% if blog_home_page? %>
  <!-- div id="search">
    <form action="<%=blog_path%>" id="frm-query" method="GET">
      <input type="text" name="query" id="query" placeholder="Pesquisar..." />
    </form>
  </div -->
  <h1>Davi Ferreira/blog/*</h1>
  <% else %>
  <h1><%= @post.title %></h1>
  <% end %>
  
</header>