<header>
  <% if blog_home_page? %>
  <!-- div id="search">
    <form action="<%=blog_path%>" id="frm-query" method="GET">
      <input type="text" name="query" id="query" placeholder="Pesquisar..." />
    </form>
  </div -->
  <h1>Davi Ferreira/blog/*</h1>
  <% else %>
  <h1><%= @post.title %></h1>
  <% end %>
  
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-0830531784483246";
  /* Blog */
  google_ad_slot = "8090511602";
  google_ad_width = 728;
  google_ad_height = 90;
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
  
</header>