<header class="clearfix">
  <% if blog_home_page? %>
  <nav class="clearfix">
    <ul>
      <li><a href="/">Portfolio</a></li>
      <li><a href="#">Github</a></li>
      <li><a href="#">Twitter</a></li>
    </ul>
  </nav>
  <h1>Davi Ferreira<small>Desenvolvedor @ Globo.com</small></h1>
  <% else %>
  <h1><%= @post.title %></h1>
  <% end %>
</header>
