<section id="sidebar">
  <header>
    <hgroup>
      <a href="<%= blog_url(:locale => I18n.locale) %>">
        <h1>Davi Ferreira</h1>
        <h2>/blog</h2>
      </a>
    </hgroup>
  </header>
  <nav>
    <a href="arquivo.html">Arquivo</a>
    <a href="categorias.html">Categorias</a>
    <a href="#">Portfólio</a>
    <a href="#">Twitter</a>
    <a href="#">Github</a>
    <a href="#">Linkedin</a>
  </nav>
  <div id="lang"><i class="icon-circle-arrow-right"></i> <a href="#">Switch to english</a></div>
</section>