<header>
  <div id="search">
    <form action="<%= projects_path %>" method="GET" id="frm-search">
      <input type="text" name="search" id="fld-search" placeholder="Pesquisar..." autocomplete="off" /><input type="submit" value="OK" id="btn-search" />
      <div id="live-search" class="shadow round-small"><ul></ul></div>
    </form>
  </div>
  <h1 id="header"><%= link_to "Davi Ferreira", root_path %></h1>
  <h2><small>Nem ninja, nem rockstar.</small> Programador.</h2>
</header>