  <header>
	  <section>
		  <nav>
		      <ul>
		        <li><a href="http://twitter.com/davitferreira" class="twitter-follow-button" data-button="grey" data-text-color="#FFFFFF" data-link-color="#00AEFF" data-lang="pt" >Follow @davitferreira</a></li>
	      	  	<li><%=link_to image_tag("rss.png"), blog_path(:format => "atom") %></li>
			  </ul>
			</nav>
            <p>
              <a href="/blog">
                <%= image_tag("me.jpg") %> Davi Ferreira &raquo; blog
              </a>
            </p>
		</section>
  </header>
