<section id="sidebar">
  <header>
    <hgroup>
      <a href="<%= blog_url(:locale => I18n.locale) %>">
        <h1>Davi Ferreira</h1>
        <h2>/blog</h2>
      </a>
    </hgroup>
  </header>
  <nav>
    <%= link_to "Arquivo", posts_archive_url %>
    <%= link_to "Categorias", posts_categories_url %>
    <a href="http://www.daviferreira.com">Portfólio</a>
    <a href="http://www.twitter.com/davitferreira">Twitter</a>
    <a href="http://www.github.com/daviferreira">Github</a>
    <a href="http://www.linkedin.com/in/daviferreira">Linkedin</a>
  </nav>
  <!-- div id="lang"><i class="icon-circle-arrow-right"></i> <a href="#">Switch to english</a></div -->
</section>