<header>
  <% if blog_home_page? %>
  <div id="search">
    <form action="" id="frm-search">
      <input type="text" name="" id="" placeholder="Pesquisar..." />
      <input type="submit" value="OK" />
    </form>
  </div>
  <h1>Davi Ferreira/blog/*</h1>
  <% else %>
  <h1><%= @post.title %></h1>
  <% end %>
</header>