<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<header>
  <h1>Davi Ferreira</h1>
  <h2><small>Nem ninja, nem rockstar.</small> Programador.</h2>
</header>

<section id="main">
  <%= yield %>
</section>

</body>
</html>
